* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-base);
}

a {
  color: unset;
  text-decoration: none;
}

li {
  list-style: none;
}

body::-webkit-scrollbar {
  width: 0px;
}

/* CHANGE COLORS!!!!!!!!!!!!!!!!!!!!!!!!! */

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-accent-dark);
  background: var(--color-accent);
}

::selection {
  color: var(--color-accent-dark);
  background: var(--color-accent);
}



.section__padding {
  padding: 2rem 6rem;
}

.section__padding-noRightMargin {
  padding: 0 0 2rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__container {
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.slide-down {
  -webkit-animation: slide-down  ease-in;
  animation: slide-down  0.4s ease-in;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@media screen and (max-width: 850px) {

  .section__padding {
    padding: 2rem 4rem;
  }

  .section__padding-noRightMargin {
    padding: 0 0 4rem 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 1.5rem;
  }

  .section__padding-noRightMargin {
    padding: 0 0 1.5rem 1.5rem;
  }
}