
:root {
    --font-base: 'Poppins', sans-serif; 
    /* CHANGE FONTS LATER!!!! THEY R INCORRECT!!!!! */
  /* CHANGE COLORS!!!!!!!!!!!!!!!!!!!!!!!!! FOR SELECTION!!*/
    
    --color-h: #000000;
    --color-h-dark: #1E1E1E;
    --color-text:#4B4B4B;
    --color-text-light:#999999;
    --color-accent:#FF6915;
    --color-accent-dark:#FB5A00;
    --color-light-bg:#F6F6F6;
    /* not used yet  downstairs */
  
    --color-accent-overlay: rgba(250, 220, 217, 0.5);
  }
  
  
  