.section__padding {
  padding: 2rem 6rem;
}

.section__padding-noRightMargin {
  padding: 0 0 2rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 69px;
  font-weight: 500;
  line-height: 82px;
  text-transform: uppercase;
}

h2 {
  font-weight: 500;
  font-size: 39px;
  line-height: 50px;
  color: var(--color-h);
  text-transform: uppercase;
}

h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: var(--color-h);
  text-transform: uppercase;
}

h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
}

p {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: var(--color-text);
}

.p__carFormfactor {
  font-weight: 500;
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
}

.p__carTitle {
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: var(--color-h);
}

.p__carCharacteristics {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;

}

.p__carPrice-Title {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--color-h);
}

.p__carPriceLineThrough {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: var(--color-text-light);
  text-decoration: line-through;
}

.bold {
  font-weight: 700;
}

.icon__container {
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.btn-type1 {
  display: block;
  border: none;
  cursor: pointer;
}

.btn-type1-container {
  display: flex;
  align-items: center;
}

.btn-type1 p {
  align-self: stretch;
  display: inline-block;
  padding: 1.4rem 3rem;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.btn-type1 .btn-type1-container div {
  padding: 1.4rem 1.6rem;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-black div img {
  width: 18px;
}

.btn-type1-black .btn-type1-container div {
  background-color: var(--color-h);
}

.btn-type1-black p {
  background-color: var(--color-h-dark);
}

.btn-type1-orange .btn-type1-container div {
  background-color: var(--color-accent-dark);
}

.btn-type1-orange p {
  background-color: var(--color-accent);
}

.btn-type2 {
  border: none;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.4;
  width: 39px;
}

.btn-type2:hover {
  opacity: 1;
}


@media screen and (max-width: 850px) {
 
  .section__padding {
    padding: 2rem 4rem;
  }

  .section__padding-noRightMargin {
    padding: 0 0 4rem 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 1.5rem;
  }

  .section__padding-noRightMargin {
    padding: 0 0 1.5rem 1.5rem;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 34px;
    line-height: 40px;
  }

  h2 {
    font-size: 24px;
    line-height: 28px;
  }

  h4,
  h5 {
    font-size: 15px;
    line-height: 25px;
  }

  p {
    font-size: 14px;
    line-height: 26px;
  }

  .p__carTitle {
    font-size: 18px;
    line-height: 25px;
  }

  .icon__container {
    width: 45px;
    height: 45px;
  }

  .icon__container img {
    width: 35px;
  }

  .btn-type2 {
    width: 33px;
  }
}