.app__ourAdvantages-cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}
.app__ourAdvantages-card div{
    display: flex;
    align-items: flex-start;
}

.app__ourAdvantages-card h4{
    margin-bottom: 0.8rem;
}

.app__ourAdvantages-card p{
    margin-left:  75px;
}

@media screen and (max-width: 1500px) {
    .app__ourAdvantages-card p{
        margin-left: 0;
    }
  }
 
@media screen and (max-width: 1200px) {
    .app__ourAdvantages-cardContainer{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
  }
  