.colorOptions{
    display: flex;
    align-items: flex-start;
    gap: 0.4rem;
}

.colorOptions-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.colorOption{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}